.login{
    padding: 0px;
    display: inline;
}
.login input[type="text"],.login h4{
    padding: 0px;
    margin-right: 5px;
    display: inline-block;
    
}

#div-registrarse{
    height: 5px;
}
#div-login{
    background-color: aqua;
    margin-top: 290px;
}
.contenedor{
    padding-bottom: 25px;
}

.fila{
    display: flex;
}

.columna{
    padding-right: 25px;
}

.texto{
   font-size: 19px;
   width: 400px;
   border-radius: 10px;
   padding-top: 10px;
}

.boton{
    margin-left: 250px;
    font-size: 22px;
    border-radius: 10px;
    padding: 12px
}
